.btn {
    display: flex;
    align-items: center;

    flex-basis: 178px;
    justify-content: flex-end;

    gap: 12px;
    padding: 4px;

    color: var(--c-white);
    font-size: 0.66rem;

    background-color: var(--c-dark1);
    &__arrow {
        padding: 8px;
        background-color: var(--c-white);
    }
}

