.name-section {
    display: flex;
    align-items: center;
    justify-content: space-between;

    flex-wrap: wrap;

    padding: 5.33rem 0 35px;
    margin-bottom: 2.33rem;
    border-bottom: 1px solid var(--c-dark1);

    &__title {
        font-size: 2rem;
        line-height: 3rem;
        letter-spacing: -0.2px;
    }
}

